body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #985277;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    margin: 0px;
    padding: 25px;
    display: grid;
    height: 360px;
    width: 330px;
    background: #CE6A85;
    border-radius: 10% 10% 10% 10% / 5% 5% 5% 5%;
    border: 2px solid #5c374c;
    box-shadow: 10px 10px 25px 7px #5c374c, 10px 10px 50px 10px #985277;
    grid-template-areas: 
        "display display display display display display"
        "seven eight nine . backspace clear"
        "four five six . multiply divide"
        "one two three . plus minus"
        "zero zero decimal . equals equals";
    grid-template-columns: 10fr 10fr 10fr 0.5fr 8fr 8fr;
    gap: 8px;
}

#display {
    grid-area: display;
    place-self: right stretch;
    padding: 60px 15px 10px 15px;
    background: #ff8c61;
    border: 2px solid #5c374c;
    border-radius: 10px;
    height: 50px;
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    color: #5c374c;
    overflow: clip;
}

.buttons {
    place-self: stretch;
    background: #ff8c61;
    text-align: center;
    align-self: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: #5c374c;
    border-radius: 10px;
    border: 2px solid #5c374c;
}

.buttons:hover {
    color: #ff8c61;
    background: #985277;
    border: 2px solid #faa275;
    transition: ease-in 0.05s;
    cursor: pointer;
}

#backspace {grid-area: backspace;}
#clear {grid-area: clear;}
#equals {grid-area: equals;}
#decimal {grid-area: decimal;}
#multiply {grid-area: multiply;}
#divide {grid-area: divide;}
#plus {grid-area: plus;}
#minus {grid-area: minus;}
#nine {grid-area: nine;}
#eight {grid-area: eight;}
#seven {grid-area: seven;}
#six {grid-area: six;}
#five {grid-area: five;}
#four {grid-area: four;}
#three {grid-area: three;}
#two {grid-area: two;}
#one {grid-area: one;}
#zero {grid-area: zero;}